.array-container {
  width: 80%;
  margin: 2% 10%;
}
.array-bar {
  display: inline-block;
}

.button-section {
  width: 80%;
  margin: 2% 10%;
}

.button-section .button {
  background-color: "#E5EAF5";
  color: "#494D5F";
  font-size: 1em;
  margin: 5px;
  border: 2px solid black;
}